
.perfilpostagem{
width: 80px

}
.perfilpostagemcomentario{
    width: 64px;
    height: 64px;
}
.perfilpostagemcomentario:hover{
    transform: scale(1.2);
}
.comentario{
 margin-left: 5%;
 border-width: 5px;
 border-color: black;

}
.postagem{
   width: 700px; 
}
.afastamento{
    margin-top: 5%;
}
a:hover{
 background-color: rgba(32, 178, 171, 0.034) !important;
}
.afastamentocomentarios{
    margin-top: 2px;
}
.textopostagens{
    font-family: 'Courier New', Courier, monospace;
    padding-left: 2%;
    padding-top: 1%;
}
.linkuser{
    text-align: left;
}
.postagem:hover {
    transform: scale(1.1); /* (150% zoom - na imagem)*/
}
.perfilpostagem:hover{
    transform: scale(1.1);
}
.numnotificacoes{
 background-color: #e6e6e6;
 color: rgb(0, 3, 5);
}
.termosecondicoes{
    font-size: 10px;
    
}
.outroslink{
    text-decoration: none;
    
}
.postagems-direita{
    margin-left: 600px;
    margin-top: -300px;
    
}
@media only screen and (max-width: 480px) {
    .postagems-esquerda {
        width: 100%;

    }
    .card-meus-post{
        width: 200%;
        max-width: 200px;
        margin-left: -25px;
        margin-right: 10px;
        padding-top: 10px;

    }
    .postagems-direita{
        margin-left: 0px;
        margin-top:auto;
    }
}
.card-meu-post-div{
    margin-top: 20px;
}
.texto-nav{
       background-color: rgba(169, 169, 169, 0.027);
}
.botaohover:hover{
 transform: none;
}
/*Css adm forum*/
body#LoginForm{ background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;}

.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #343A40 none repeat scroll 0 0;
  border-color: #343A40;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #343A40 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}
/*fim adm forum*/